

.layout {
	padding: 20px;
}

.layout-content {
	margin: 3%;
	/* border-radius: 8px;
	border-style: solid;
	border-color: grey; */
}

.no-link {
	text-decoration: none;
}

.footer {
	width: 100%;
	text-align: center;
	position:fixed;
    bottom:0;
}
